.services-page {
  margin-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.services-container {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
.services-box {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 250px;
  border-radius: 20px;
  display: flex;
}
.services-box > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
}
.services-box > div > p {
  font-size: 20px;
  color: #fff;
}
.services-box > div > p > span {
  color: coral;
}
.services-box > div > h1 {
  color: #fff;
  font-family: "playfair display";
  font-size: 50px;
  text-align: center;
  margin-top: -5px;
}
.services-page-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 60px;
}
.services-content-first {
  display: flex;
  column-gap: 40px;
}
.first-img {
  width: 450px;
  height: 500px;
  object-fit: cover;
  position: relative;
}
.first-img > img {
  width: 450px;
  height: 500px;
  object-fit: cover;
}
.first-img > h1 {
  position: absolute;
  top: 10px;
  left: 5%;
  font-size: 50px;
  font-weight: 700;
  line-height: 0px;
  color: #fff;
}
.first-content {
  text-align: left;
}
.first-content > p {
  color: #787878;
}

.services-content-second {
  display: flex;
  flex-direction: column;
}
.services-content-second > h3 {
  text-align: left;
}
.united-state {
  text-align: left;
  margin-top: -20px;
}
.united-state > h1 {
  color: #fea12a;
}

.united-services-list {
  display: flex;
  column-gap: 35px;
  flex-wrap: wrap;
  row-gap: 40px;
}
.list-card {
  width: 350px;
  height: auto;
  position: relative;
}
.list-card > h1 {
  position: absolute;
  top: 10px;
  left: 5%;
  font-size: 30px;
  font-weight: 700;
  line-height: 0px;
}
.list-card > img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.nepal {
  text-align: left;
}
.nepal > h1 {
  color: #fea12a;
}

.nepal-services-list {
  display: flex;
  column-gap: 35px;
  flex-wrap: wrap;
  row-gap: 40px;
}
.nepal-services-list > .list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: auto;
  background-color: #ebebeb;
  color: #000;
  cursor: pointer;
}
.nepal-services-list > .list-card:hover {
  background-color: #fea12a;
  color: #fff;
}

.nepal-services-list > .list-card > img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.services-content-third {
  display: flex;
  flex-direction: column;
}
.services-content-third > h1 {
  text-align: left;
}
.other-services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 40px;
}

.other-services-list > .list-card {
  width: 350px;
  height: 380px;
  text-align: center;
  background-color: #ebebeb;
  color: #000;
  cursor: pointer;
}
.other-services-list > .list-card:hover {
  background-color: #fea12a;
  color: #fff;
}
.other-services-list > .list-card > img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.other-services-list > .list-card > h1 {
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .list-card {
    width: 320px;
  }
  .list-card > img {
    width: 320px;
  }
  .nepal-services-list > .list-card {
    width: 320px;
  }
  .nepal-services-list > .list-card > img {
    width: 320px;
  }
  .other-services-list > .list-card {
    width: 320px;
  }
  .other-services-list > .list-card > img {
    width: 320px;
  }
}

@media screen and (max-width: 1140px) {
  .services-page {
    padding-left: 50px;
    padding-right: 50px;
  }
  .list-card {
    width: 320px;
  }
  .list-card > img {
    width: 320px;
  }
  .nepal-services-list > .list-card {
    width: 320px;
  }
  .nepal-services-list > .list-card > img {
    width: 320px;
  }
  .other-services-list > .list-card {
    width: 320px;
  }
  .other-services-list > .list-card > img {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .services-content-first {
    flex-direction: column;
    row-gap: 30px;
  }
  .first-img {
    width: 100%;
  }
  .first-img > img {
    width: 100%;
  }

  .list-card {
    width: 313px;
  }
  .list-card > img {
    width: 313px;
  }
  .nepal-services-list > .list-card {
    width: 313px;
  }
  .nepal-services-list > .list-card > img {
    width: 313px;
  }
  .other-services-list > .list-card {
    width: 313px;
  }
  .other-services-list > .list-card > img {
    width: 313px;
  }
}

@media screen and (max-width: 426px) {
  .services-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .services-box > div > h1 {
    font-size: 30px;
  }

  .services-box > div {
    margin-left: 40px;
  }
  .first-img {
    width: 100%;
    height: 400px;
  }
  .first-img > img {
    width: 100%;
    height: 400px;
  }

  .list-card {
    width: 100%;
  }
  .list-card > img {
    width: 100%;
  }
  .nepal-services-list > .list-card {
    width: 100%;
  }
  .nepal-services-list > .list-card > img {
    width: 100%;
  }
  .other-services-list > .list-card {
    width: 100%;
  }
  .other-services-list > .list-card > img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .services-box > div {
    margin-left: 20px;
  }
  .services-box > div > h1 {
    font-size: 30px;
  }
}
